.boardTable {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.card {
  width: 6.8em;
  height: 9.8em;
  perspective: 1000px; /* for 3D effect */
  margin: .4em;

}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* important! */
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid #dba641;
  border-radius: 15px;
  
}

.cardFront {
  background-image: url(/images/backcardWithoutText.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cardInner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .cardInner {
  transform: rotateY(180deg);
}

.cardBack {
  transform: rotateY(180deg);
}
