.boardTable {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.card {
  width: 8em;
  height: 10em;
  perspective: 1000px; /* for 3D effect */
  margin: 1em;
  border: 3px solid red;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* important! */
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid red !important

  
}

.cardFront {
  background-image: url(/images/backcardWithoutText.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;


}